
{% extends "base.html" %}
{% load static %}

{% block css %} 
<link rel="stylesheet" href="{% static 'css/weather.css' %}">
{% endblock %}

{% block page_name %} 
Home 
{% endblock page_name %}

{% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col-8 mr-2 bx_l my-primary">
      <div class="row pt-3">
        <div class="col">
          <p class="pl-2 pt-3 font-weight-bold" style="font-size: 1.4rem;">{{ weatherInfo.location }}</p>
          <p> {{ weatherInfo.date_time }}</p>
        </div>
      </div>
      <div class="row pt-3">
        <div class="col-7">
          <div class="text-center">
            {% if weatherInfo.main == "Clear" %}
            <img class="w-50" src="{% static 'img/Clear.svg' %}"/>
            {% elif weatherInfo.main == "Clouds" %}
            <img class="w-50" src="{% static 'img/Clouds.svg' %}" />
            {% elif weatherInfo.main == "Rain" %}
            <img class="w-50" src="{% static 'img/Rain.svg' %}" />
            {% elif weatherInfo.main == "Drizzle" %}
            <img class="w-50" src="{% static 'img/Drizzle.svg' %}" />
            {% elif weatherInfo.main == "Thunderstorm" %}
            <img class="w-50" src="{% static 'img/Thunderstorm.svg' %}" />
            {% elif weatherInfo.main == "Snow" %}
            <img class="w-50" src="{% static 'img/Snow.svg' %}" />
            {% else %}
            <img class="w-50" src="{% static 'img/Etc.svg' %}" />
            {% endif %}
          </div>          
        </div>
        <div class="col-4 align-self-center">
          <p style="font-size: 2.1rem;" class="font-weight-bold">{{weatherInfo.temp}} °C</p>
          <p style="font-size: 1rem;"> 체감 온도 : {{weatherInfo.feels_like}} °C </p>
          <p style="font-size: 1rem;"> 미세 먼지 : {{weatherInfo.pm10}} ㎍/m³ </p>
          <p style="font-size: 1rem;"> 강수 확률 : {{foreInfo.data1_pop}} % </p>
        </div>
      </div>
      <div class="row h-50 pt-3">
        <div class="col pb-5">
          <div class="chart">
            <figure class="highcharts-figure">
              <div id="container"></div>
              <p class="highcharts-description"> </p>
            </figure>
          </div>
        </div>        
      </div>
    </div>


    <div class="ml-3 col-3">
      <div class="row mb-2">
        <div class="col my-secondary text-white bx_l">
          <div class="today-clothes text-center">
            <h5 class="pt-3 pb-3">오늘의 추천의상은 ?</h5>
            {% for text in recommend.text  %}
              <p>{{ text }}</p>
            {% endfor %}
            {% with 'resources/clothes/'|add:recommend.filename as image_src %}
              <img class="pb-2" src="{% static image_src %}" style="width:240px; height:80px;">
            {% endwith %}
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col my-secondary text-white bx_l">
          <div class = 'today-music pb-1'>
            <h5 class="text-center pt-3 pb-3">추천 음악</h5>
            {% for music in recommend_music  %}
              <p class="text-center pb-1">{{ music }}</p>
            {% endfor %}     
          </div>
        </div>
      </div>
    </div>


  </div>
</div>    

<script>
  const time_main = "{{foreInfo.time_main}}".replace(/&#x27;/g, "").replace(/\[/g, "").replace(/\]/g, "").split(',')
  const list_fore24_temp = {{ foreInfo.temp_main }}
  Highcharts.chart('container', {        
        chart: {
            height: 300,
            type: 'line'
        },
        title: {
            text: '실시간 기온'
        },
        xAxis: {
            categories: time_main
        },
        yAxis: {
            title: {
            text: '기온 (°C)'
            }
        },
        plotOptions: {
            line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
            }
        },
        series: [{
            name: '기온',
            data: list_fore24_temp
        }]
    });
</script>

{% endblock content %}