@font-face { 
  font-family: 'dxhanlgrum'; 
  src: url('../fonts/DXHanlgrum-KSCpc-EUC-H.woff2') format('woff2'), 
       url('../fonts/DXHanlgrum-KSCpc-EUC-H.woff') format('woff'), 
       url('../fonts/DXHanlgrum-KSCpc-EUC-H.ttf') format('truetype');
  font-weight: normal; 
  font-style: normal; 
}

@font-face { 
  font-family: 'hoonGothic';
  src: url('../fonts/HoonGothicgulimR.woff2') format('woff2'),
       url('../fonts/HoonGothicgulimR.woff') format('woff'),
       url('../fonts/HoonGothicgulimR.ttf') format('truetype');
  font-weight: normal; 
  font-style: normal; 
}

body {
  font-family: 'hoonGothic', sans-serif ;
  line-height: 1;
  letter-spacing: 0;
}
h1,h2,h3.h4,h5,h6 {
  font-family: 'dxhanlgrum', 'nanumgothic', sans-serif ;
  line-height: 1;
  letter-spacing: 0;
}

.my-primary{
  background-color: #f3f5fd;
}
.my-secondary {
  background-color: #6b8bf1;
}

.navbar {
    background-color: #728adc;
  }
  .navbar .navbar-brand {
    color: #edf0f5;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #151616;
  }
  .navbar .navbar-text {
    color: #edf0f5;
  }
  .navbar .navbar-text a {
    color: #151616;
  }
  .navbar .navbar-text a:hover,
  .navbar .navbar-text a:focus {
    color: #151616; 
  }
  .navbar .navbar-nav .nav-link {
    color: #edf0f5;
    border-radius: .25rem;
    margin: 0 0.25em;
  }
  .navbar .navbar-nav .nav-link:not(.disabled):hover,
  .navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #151616;
  }
  .navbar .navbar-nav .nav-item.active .nav-link,
  .navbar .navbar-nav .nav-item.active .nav-link:hover,
  .navbar .navbar-nav .nav-item.active .nav-link:focus,
  .navbar .navbar-nav .nav-item.show .nav-link,
  .navbar .navbar-nav .nav-item.show .nav-link:hover,
  .navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #151616;
    font-size: 1.2rem;
  }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #edf0f5;
  }
  .navbar .navbar-link {
    color: #edf0f5;
  }
  .navbar .navbar-link:hover {
    color: #151616;
  }
  
  @media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #edf0f5;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #151616;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #151616;
      background-color: #f4f5fc;
    }
  }
  
  @media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #edf0f5;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #151616;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #151616;
      background-color: #f4f5fc;
    }
  }
  
  @media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #edf0f5;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #151616;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #151616;
      background-color: #f4f5fc;
    }
  }
  
  @media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #edf0f5;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #151616;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #151616;
      background-color: #f4f5fc;
    }
  }
  
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #edf0f5;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #151616
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #151616;
    background-color: #f4f5fc;
  }