<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>calendar</title>

    <style>
    td {
        border:2px solid gray;
        width:50px;
        height:50px;
        background-color:#edf0f5;
        padding:10px;
        margin:-1px;
        text-align:right;
        font-size:25px;
        }

</style>


</head>
<body>
<h1>Calendar</h1>
<h1>February    2021</h1>

<table>
    <tr>
        <td><a href="{% url 'writePageView' %}">1</a></td>
        <td><a href="{% url 'writePageView' %}">2</a></td>
        <td><a href="{% url 'writePageView' %}">3</a></td>
        <td><a href="{% url 'writePageView' %}">4</a></td>
        <td><a href="{% url 'writePageView' %}">5</a></td>
        <td><a href="{% url 'writePageView' %}">6</a></td>
        <td><a href="{% url 'writePageView' %}">7</a></td>


    </tr>
    <tr>
        <td><a href="{% url 'writePageView' %}">8</a></td>
        <td><a href="{% url 'writePageView' %}">9</a></td>
        <td><a href="{% url 'writePageView' %}">10</a></td>
        <td><a href="{% url 'writePageView' %}">11</a></td>
        <td><a href="{% url 'writePageView' %}">12</a></td>
        <td><a href="{% url 'writePageView' %}">13</a></td>
        <td><a href="{% url 'writePageView' %}">14</a></td>
    </tr>
    <tr>
        <td><a href="{% url 'writePageView' %}">15</a></td>
        <td><a href="{% url 'writePageView' %}">16</a></td>
        <td><a href="{% url 'writePageView' %}">17</a></td>
        <td><a href="{% url 'writePageView' %}">18</a></td>
        <td><a href="{% url 'writePageView' %}">19</a></td>
        <td><a href="{% url 'writePageView' %}">20</a></td>
        <td><a href="{% url 'writePageView' %}">21</a></td>
    </tr>
    <tr>
        <td><a href="{% url 'writePageView' %}">22</a></td>
        <td><a href="{% url 'writePageView' %}">23</a></td>
        <td><a href="{% url 'writePageView' %}">24</a></td>
        <td><a href="{% url 'writePageView' %}">25</a></td>
        <td><a href="{% url 'writePageView' %}">26</a></td>
        <td><a href="{% url 'writePageView' %}">27</a></td>
        <td><a href="{% url 'writePageView' %}">28</a></td>
    </tr>
writePageView
</table>

<label for="b_title" style="font-weight:200">일정</label>
<input type="checkbox" id="b_title" name="board_title" value="True"><br><br>



</body>
</html>

<script>


</script>