<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>태풍의 눈</title>
</head>

<body>
<nav>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Today's Weather</a></li>
        <li><a href="#">Weather Forecast</a></li>
        <li><a href="#">Calendar</a></li>
        <li><a href="#">Contact Us</a></li>
    </ul>
</nav>

<!--    <button id ='goLoginBtn'>go to login</button><br/>-->
    <a href="{% url 'login' %}" class="text-center">go to login</a>
</body>
</html>



