<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->



<!--<form class="post-form" action="{% url 'loginAuth' %}" method="post">-->
<!--        {% csrf_token %}-->
<!--        {% include "loginError.html" %}-->

<!--        <h2 class="form-signin-heading">Please sign in</h2>-->


<!--        <div class="form-group">-->
<!--            <label for="user_id">ID</label>-->
<!--            <input type="text" name="user_id" id="user_id" class="form-control" placeholder="ID"-->
<!--                           value="{{form.user_id.value|default_if_none:''}}" required autofocus/>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="user_pwd">PWD</label>-->
<!--            <input type="password" name="user_pwd" id="user_pwd" class="form-control" placeholder="Password"-->
<!--                           value="{{form.user_pwd.value|default_if_none:''}}" required/>-->
<!--        </div>-->
<!--        <div>-->
<!--            <form name="rememberId" action="{% url 'loginAuth' %}" method="post">-->
<!--                <input type="checkbox" value="remember-me"> Remember me-->
<!--            </form>-->
<!--        </div>-->
<!--        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>-->
<!--    </form>-->