{% extends "base.html" %}

{% block css %} 
{% load static %}
<link rel="stylesheet" href="{% static 'css/weather.css' %}">
{% endblock %}

{% block page_name %} 
Home 
{% endblock page_name %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            {% if weatherInfo.main == "Clear"  %}
            <div class="main_weather_yellow">
            {% elif weatherInfo.main  == "Clouds" or weatherInfo.main == "Atmosphere" %}
            <div class="main_weather_gray">
            {% elif weatherInfo.main == "Rain" or weatherInfo.main == "Drizzle" or weatherInfo.main == "Thunderstorm" %}
            <div class="main_weather_blue">
            {% else %}
            <div class="main_weather_withe">
            {% endif %}
                <span class="loc">{{weatherInfo.location}}</span>
                <span class="today_w">오늘의 날씨</span>
                <img class="t_icon" src="http://openweathermap.org/img/wn/{{ weatherInfo.icon }}@2x.png" alt="" />
                <span class="t_temp">{{weatherInfo.temp_min}} / {{weatherInfo.temp_max}} °C</span>
                <span class="t_pm" style="color:#B22F28"><i class="fas fa-smog fa-4x"></i></span>
                <span class="t_pm_t">{{weatherInfo.pm10}}㎍/m³</span>
                <span class="t_wind" style="color:#4899F9"><i class="fas fa-wind fa-4x"></i></span>
                <span class="t_wind_t">{{weatherInfo.wind_spd}}km/h</span>
                <span class="t_pop" style="color:#646CCD"><i class="fas fa-umbrella fa-4x"></i></span>
                <span class="t_pop_t">{{list_fore24_pop.2}} %</span>
                <span class="t_hm" style="color:#646CCD"><i class="fas fa-tint fa-4x"></i></span>
                <span class="t_hm_t">{{weatherInfo.hmdt}}%</span>
            </div>
        </div>
        <div class="col">
            <div class="chart">
                <figure class="highcharts-figure">
                    <div id="container"></div>
                    <p class="highcharts-description"></p>
                </figure>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            {% if foreInfo.d_1_temp_s == "Clear" %}
            <div class="d_add_weather_yellow">
            {% elif foreInfo.d_1_temp_s == "Clouds" or foreInfo.d_1_temp_s == "Atmosphere" %}
            <div class="d_add_weather_gray">
            {% elif foreInfo.d_1_temp_s == "Rain" or foreInfo.d_1_temp_s == "Drizzle" or foreInfo.d_1_temp_s == "Thunderstorm" %}
            <div class="d_add_weather_blue">
            {% else %}
            <div class="d_add_weather_white">
            {% endif %}
                <div>
                    <h2 class="d_num">{{foreInfo.d_1}}&nbsp;&nbsp;&nbsp;날씨</h2>
                </div>
                <div>
                    <span>
                        <img class="d_icon" src="http://openweathermap.org/img/wn/{{foreInfo.d_1_temp_i}}@2x.png" alt="" />
                    </span>
                    <span class="d_temp" style="text-align:right">{{foreInfo.d_1_temp_m}} / {{foreInfo.d_1_temp_M}} °C</span>
                </div>
                <div>
                    <a href="#" id="more1" class="more">More Info</a>
                </div>
            </div>
        </div>

        <div class="col">
            {% if foreInfo.d_2_temp_s == "Clear" %}
            <div class="d_add_weather_yellow">
            {% elif foreInfo.d_2_temp_s == "Clouds" or foreInfo.d_2_temp_s == "Atmosphere" %}
            <div class="d_add_weather_gray">
            {% elif foreInfo.d_2_temp_s == "Rain" or foreInfo.d_2_temp_s == "Drizzle" or foreInfo.d_2_temp_s == "Thunderstorm" %}
            <div class="d_add_weather_blue">
            {% else %}
            <div class="d_add_weather_white">
            {% endif %}
                <div>
                    <h2 class="d_num">{{foreInfo.d_2}}&nbsp;&nbsp;&nbsp;날씨</h2>
                </div>
                <div>
                    <span>
                        <img class="d_icon" src="http://openweathermap.org/img/wn/{{foreInfo.d_2_temp_i}}@2x.png" alt="" />
                    </span>
                    <span class="d_temp" style="text-align:right">{{foreInfo.d_2_temp_m}} / {{foreInfo.d_2_temp_M}} °C</span>
                </div>
                <div>
                    <a href="#" id="more1" class="more">More Info</a>
                </div>
            </div>
        </div>        

        <div class="col">
            {% if foreInfo.d_3_temp_s == "Clear" %}
            <div class="d_add_weather_yellow">
            {% elif foreInfo.d_3_temp_s == "Clouds" or foreInfo.d_3_temp_s == "Atmosphere" %}
            <div class="d_add_weather_gray">
            {% elif foreInfo.d_3_temp_s == "Rain" or foreInfo.d_3_temp_s == "Drizzle" or foreInfo.d_3_temp_s == "Thunderstorm" %}
            <div class="d_add_weather_blue">
            {% else %}
            <div class="d_add_weather_white">
            {% endif %}
                <div>
                    <h2 class="d_num">{{foreInfo.d_3}}&nbsp;&nbsp;&nbsp;날씨</h2>
                </div>
                <div>
                    <span>
                        <img class="d_icon" src="http://openweathermap.org/img/wn/{{foreInfo.d_3_temp_i}}@2x.png" alt="" />
                    </span>
                    <span class="d_temp" style="text-align:right">{{foreInfo.d_3_temp_m}} / {{foreInfo.d_3_temp_M}} °C</span>
                </div>
                <div>
                    <a href="#" id="more1" class="more">More Info</a>
                </div>
            </div>
        </div>     
        <div class="col">
            {% if foreInfo.d_4_temp_s == "Clear" %}
            <div class="d_add_weather_yellow">
            {% elif foreInfo.d_4_temp_s == "Clouds" or foreInfo.d_4_temp_s == "Atmosphere" %}
            <div class="d_add_weather_gray">
            {% elif foreInfo.d_4_temp_s == "Rain" or foreInfo.d_4_temp_s == "Drizzle" or foreInfo.d_4_temp_s == "Thunderstorm" %}
            <div class="d_add_weather_blue">
            {% else %}
            <div class="d_add_weather_white">
            {% endif %}
                <div>
                    <h2 class="d_num">{{foreInfo.d_4}}&nbsp;날씨</h2>
                </div>
                <div>
                    <span>
                        <img class="d_icon" src="http://openweathermap.org/img/wn/{{foreInfo.d_4_temp_i}}@2x.png" alt="" />
                    </span>
                    <span class="d_temp" style="text-align:right">{{foreInfo.d_4_temp_m}} / {{foreInfo.d_4_temp_M}} °C</span>
                </div>
                <div>
                    <a href="#" id="more1" class="more">More Info</a>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    const fore24 = "{{list_fore24_time}}".replace(/&#x27;/g, "").replace(/\[/g, "").replace(/\]/g, "").split(',')
    const list_fore24_pop = {{ list_fore24_pop }}
    const list_fore24_temp = {{ list_fore24_temp }}
    Highcharts.chart('container', {
      chart: { zoomType: 'xy'},
      title: { text: '다음 24시간 기온 및 강수확률' },
      subtitle: { text: 'Source: openweathermap.org' },
      xAxis: [{
        categories: fore24,
        crosshair: true
      }],
      yAxis: [{ // Primary yAxis
        labels: {
          format: '{value}°C',
          style: { color: Highcharts.getOptions().colors[1]}
        },
        title: {
          text: '기온',
          style: { color: Highcharts.getOptions().colors[1]}
        }
      }, { // Secondary yAxis
        title: {
          text: '강수확률',
          style: {color: Highcharts.getOptions().colors[0]}
        },
        labels: {
          format: '{value} %',
          style: {color: Highcharts.getOptions().colors[0]}
        },
        opposite: true
      }],
      tooltip: {shared: true},
      legend: {
        layout: 'vertical',
        align: 'left',
        x: 120,
        verticalAlign: 'top',
        y: 100,
        floating: true,
        backgroundColor:
          Highcharts.defaultOptions.legend.backgroundColor || // theme
          'rgba(255,255,255,0.25)'
      },
      series: [
      {
        name: '강수확률',
        type: 'column',
        yAxis: 1,
        data:  list_fore24_pop,
        tooltip: {
          valueSuffix: '%'
        }
      }, 
      {
        name: '기온',
        type: 'spline',
        data:  list_fore24_temp,
        tooltip: {
          valueSuffix: '°C'
        }
      }]
    });
  </script>
{% endblock content %}